body {
  background: greenyellow;
}
h1 {
  font-family: Courier;
  font-size: 70px;
  color: red;
  text-shadow: -4px 2px green;
  text-align: center;
  text-transform: uppercase;
  background: grey;
}
p {
  font-family: courier;
  font-size: 22.5px;
  text-align: center;
  font-weight: bold;
}
